login_reg_js_graphQL/soapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/mySoapService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="MySoapService"
             targetNamespace="http://example.com/mySoapService.wsdl">

    <types>
        <xsd:schema targetNamespace="http://example.com/mySoapService.wsdl">
            <xsd:element name="LoginRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LoginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RegisterRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                        <xsd:element name="email" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RegisterResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="LoginRequestMessage">
        <part name="parameters" element="tns:LoginRequest"/>
    </message>
    <message name="LoginResponseMessage">
        <part name="parameters" element="tns:LoginResponse"/>
    </message>
    <message name="RegisterRequestMessage">
        <part name="parameters" element="tns:RegisterRequest"/>
    </message>
    <message name="RegisterResponseMessage">
        <part name="parameters" element="tns:RegisterResponse"/>
    </message>

    <portType name="MySoapPortType">
        <operation name="Login">
            <input message="tns:LoginRequestMessage"/>
            <output message="tns:LoginResponseMessage"/>
        </operation>
        <operation name="Register">
            <input message="tns:RegisterRequestMessage"/>
            <output message="tns:RegisterResponseMessage"/>
        </operation>
    </portType>

    <binding name="MySoapBinding" type="tns:MySoapPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Login">
            <soap:operation soapAction="http://example.com/Login"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Register">
            <soap:operation soapAction="http://example.com/Register"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="MySoapService">
        <documentation>My SOAP Service for Login and Registration</documentation>
        <port name="MySoapPort" binding="tns:MySoapBinding">
            <soap:address location="http://localhost:4000/wsdl"/>
        </port>
    </service>

</definitions>
